@import "tailwindcss";
/* @import '~bootstrap/scss/bootstrap'; */
@layer base {
  :root {
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
  }
}

.fixed-content {
  position: fixed; /* Makes the element fixed relative to the viewport */
  top: 0;          /* Positions it at the top of the viewport */
  right: 0;        /* Positions it at the right of the viewport */
  width: 25%;      /* Adjust width to match the md={3} column size (3/12 = 25%) */
  height: 100vh;   /* Makes it span the full viewport height */
  background-color: #f8f9fa; /* Example background color */
  padding: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 1000; /* Ensure it stays above other content */
}